<div
  id="teaser-efcb7219a9"
  class="cmp-teaser"
  data-cmp-data-layer="{&#34;teaser-efcb7219a9&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/teaser&#34;,&#34;xdm:linkURL&#34;:&#34;resources/content/core-components-examples/library/page-authoring/teaser.html&#34;,&#34;dc:title&#34;:&#34;Teaser&#34;,&#34;dc:description&#34;:&#34;Link an image and text&#34;,&#34;repo:modifyDate&#34;:&#34;2018-12-07T12:43:16Z&#34;}}"
>
  <div class="cmp-teaser__content">
    <h2 class="cmp-teaser__title">
      <a
        class="cmp-teaser__title-link"
        href="resources/content/core-components-examples/library/page-authoring/teaser.html"
        data-cmp-clickable
        >Teaser</a
      >
    </h2>

    <div class="cmp-teaser__description">Link an image and text</div>
  </div>
</div>
