<div
  data-cmp-data-layer="{&#34;title-aca6b2bbfb&#34;:{&#34;@type&#34;:&#34;core/wcm/components/title/v2/title&#34;,&#34;xdm:linkURL&#34;:&#34;storybook-assets/content/core-components-examples/library/page-authoring/title.html&#34;,&#34;dc:title&#34;:&#34;Title&#34;,&#34;repo:modifyDate&#34;:&#34;2020-04-29T13:45:41Z&#34;}}"
  id="title-aca6b2bbfb"
  class="cmp-title"
>
  <h1 class="cmp-title__text">
    <a
      class="cmp-title__link"
      href="storybook-assets/content/core-components-examples/library/page-authoring/title.html"
      data-cmp-clickable
      >Title</a
    >
  </h1>
</div>
