<div
  id="experiencefragment-fe1a326f86"
  class="cmp-experiencefragment cmp-experiencefragment--simple-experience-fragment"
>
  <link
    rel="stylesheet"
    href="/libs/cq/experience-fragments/components/xfpage/content.css"
    type="text/css"
  />

  <div class="xf-content-height">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12">
      <div class="text aem-GridColumn aem-GridColumn--default--12">
        <div id="text-cda7d0867d" class="cmp-text">
          <p>Lava forming some rock.</p>
        </div>
      </div>
      <div class="image aem-GridColumn aem-GridColumn--default--12">
        <div
          data-cmp-is="image"
          data-cmp-src="resources/content/experience-fragments/core-components-examples/library/simple-experience-fragment/master/_jcr_content/root/image.coreimg{.width}.jpeg/1592202899699/lava-rock-formation.jpeg"
          data-asset="/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg"
          data-asset-id="c58c09f6-e382-4698-bfbd-e8c8d37712c8"
          data-title="Gray lava rock formation"
          id="image-83bac327b9"
          class="cmp-image"
          itemscope
          itemtype="http://schema.org/ImageObject"
        >
          <img
            src="resources/content/experience-fragments/core-components-examples/library/simple-experience-fragment/master/_jcr_content/root/image.coreimg.jpeg/1592202899699/lava-rock-formation.jpeg"
            class="cmp-image__image"
            itemprop="contentUrl"
            data-cmp-hook-image="image"
            alt="Gray lava rock formation"
            title="Gray lava rock formation"
          />

          <meta itemprop="caption" content="Gray lava rock formation" />
        </div>
      </div>
    </div>
  </div>
</div>
