<ul
  id="list-37924bbb4c"
  data-cmp-data-layer="{&#34;list-37924bbb4c&#34;:{&#34;@type&#34;:&#34;core/wcm/components/list/v2/list&#34;,&#34;repo:modifyDate&#34;:&#34;2018-12-07T11:59:09Z&#34;}}"
  class="cmp-list"
>
  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-37924bbb4c-item-e13089bf3b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/page&#34;,&#34;xdm:linkURL&#34;:&#34;storybook-assets/content/core-components-examples/library/page-authoring/text.html&#34;,&#34;dc:title&#34;:&#34;Text&#34;,&#34;repo:modifyDate&#34;:&#34;2020-06-15T06:34:54Z&#34;}}"
  >
    <article>
      <span class="cmp-list__item-title">Text</span>
    </article>
  </li>
</ul>
