<ul
  id="list-64bf657ac8"
  data-cmp-data-layer="{&#34;list-64bf657ac8&#34;:{&#34;@type&#34;:&#34;core/wcm/components/list/v2/list&#34;,&#34;repo:modifyDate&#34;:&#34;2019-01-14T14:07:05Z&#34;}}"
  class="cmp-list"
>
  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-64bf657ac8-item-b0a08e7237&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/page&#34;,&#34;xdm:linkURL&#34;:&#34;storybook-assets/content/core-components-examples/library/container/carousel.html&#34;,&#34;dc:title&#34;:&#34;Carousel&#34;,&#34;repo:modifyDate&#34;:&#34;2020-06-15T06:34:54Z&#34;}}"
  >
    <article>
      <span class="cmp-list__item-title">Carousel</span>
    </article>
  </li>
</ul>
