<ul
  id="list-f50b36b533"
  data-cmp-data-layer="{&#34;list-f50b36b533&#34;:{&#34;@type&#34;:&#34;core/wcm/components/list/v2/list&#34;,&#34;repo:modifyDate&#34;:&#34;2019-01-14T14:09:59Z&#34;}}"
  class="cmp-list"
>
  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-f50b36b533-item-b0a08e7237&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/page&#34;,&#34;xdm:linkURL&#34;:&#34;resources/content/core-components-examples/library/container/carousel.html&#34;,&#34;dc:title&#34;:&#34;Carousel&#34;,&#34;repo:modifyDate&#34;:&#34;2020-06-15T06:34:54Z&#34;}}"
  >
    <article>
      <span class="cmp-list__item-title">Carousel</span>
    </article>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-f50b36b533-item-bd937d6b13&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/page&#34;,&#34;xdm:linkURL&#34;:&#34;resources/content/core-components-examples/library/page-authoring/teaser.html&#34;,&#34;dc:title&#34;:&#34;Teaser&#34;,&#34;repo:modifyDate&#34;:&#34;2020-06-15T06:34:54Z&#34;}}"
  >
    <article>
      <span class="cmp-list__item-title">Teaser</span>
    </article>
  </li>

  <li
    class="cmp-list__item"
    data-cmp-data-layer="{&#34;list-f50b36b533-item-e13089bf3b&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/page&#34;,&#34;xdm:linkURL&#34;:&#34;resources/content/core-components-examples/library/page-authoring/text.html&#34;,&#34;dc:title&#34;:&#34;Text&#34;,&#34;repo:modifyDate&#34;:&#34;2020-06-15T06:34:54Z&#34;}}"
  >
    <article>
      <span class="cmp-list__item-title">Text</span>
    </article>
  </li>
</ul>
