<div
  data-cmp-is="image"
  data-cmp-src="resources/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg{.width}.jpeg/1592202900154/snowy-mountain-glacier.jpeg"
  data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"
  data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7"
  data-title="Snowy mountain glacier"
  id="image-8974cba812"
  data-cmp-data-layer="{&#34;image-8974cba812&#34;:{&#34;image&#34;:{&#34;repo:id&#34;:&#34;45c6ee92-90e1-4af2-af69-b6dcbc7daeb7&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:modifyDate&#34;:&#34;2020-06-15T06:35:00Z&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg&#34;,&#34;xdm:tags&#34;:[]},&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;xdm:linkURL&#34;:&#34;resources/content/core-components-examples/library/image&#34;,&#34;dc:title&#34;:&#34;Snowy mountain glacier&#34;,&#34;repo:modifyDate&#34;:&#34;2019-01-22T17:31:25Z&#34;}}"
  class="cmp-image"
  itemscope
  itemtype="http://schema.org/ImageObject"
>
  <img
    src="resources/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg.jpeg/1592202900154/snowy-mountain-glacier.jpeg"
    class="cmp-image__image"
    itemprop="contentUrl"
    data-cmp-hook-image="image"
    alt="Snowy mountain glacier"
    title="Snowy mountain glacier"
  />

  <meta itemprop="caption" content="Snowy mountain glacier" />
</div>
